
    <div class="collapse searchbar" id="searchbar">
        <div class="search-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
            </span> </div>
                        <!-- /input-group -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
            </div>
        </div>
    </div>
    <div class="top-bar">
        <!-- top-bar -->
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6 col-6 d-none d-xl-block d-lg-block">
                    <p class="mail-text">Welcome to our Borrow Loan Website Templates</p>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-12 text-right">
                    <div class="top-nav"> <span class="top-text"><a href="#">View Locations</a> </span> <span class="top-text"><a href="#">+1800-123-4567</a></span> <span class="top-text"><a href="#">EMI calculator</a></span> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.top-bar -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-6 col-6">
                    <!-- logo -->
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo.png" alt="Borrow - Loan Company Website Template"></a>
                    </div>
                </div>
                <!-- logo -->
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                      <div id="navigation">
                        <!-- navigation start-->
                        <ul>
                            <li class="active"><a routerLink="/" class="animsition-link">Home</a>
                                <ul>
                                    </ul>
                            </li>
                           
                            <li><a routerLink="/about"class="animsition-link">About us</a>
                               
                            </li>
                            <li><a routerLink="/product" class="animsition-link">Product</a>
                                
                            </li>
                            <li><a routerLink="/blog" class="animsition-link">Blog</a>
                               
                                </li>
                                <li><a routerLink="/contact"class="animsition-link">Contact</a>
                                   
                                </li>
                        </ul>
                    </div>
                    <!-- /.navigation start-->
                </div>
                <div class="col-xl-l col-lg-1 col-md-1 col-sm-1 col-12 d-none d-xl-block d-lg-block">
                    <!-- search start-->
                    <div class="search-nav"> <a class="search-btn" role="button" data-toggle="collapse" href="#searchbar" aria-expanded="false"><i class="fa fa-search"></i></a> </div>
                </div>
                <!-- /.search start-->
            </div>
        </div>
    </div>